
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/galaxy.jpg);
    margin: 0 auto;
}
.between{
    padding: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.between ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.between li {
    list-style: none;
    margin: 10px 0;
}
h1{
    color: aliceblue;
    text-align: center;
}
.between a{
    color: aliceblue;
    text-decoration: none;
}
.km{
    height: 465px;
    width: 407px;
    box-sizing: border-box;
    border-style: solid; 
    border-color: #374151;
    overflow: hidden;   
    text-align: center;
}
.km p {
    margin: 0 auto;
    width: 90%;
    margin: 20px; 
}
img{
    width:413px;
    height: 233px;
    transition: transform 0.3s
}
img:hover{
    transform: scale(1.1);
}
strong{
    font-size: 1.1vw;
    padding-top: 20px;
}
div .between li
{
padding: 20px 0;
}
.between{
    /* background-color:black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:auto;
    font-family: 'DM Sans', sans-serif;
}